.sidebar {
  max-width: 23vw;
  height: 90vh;
  background-color: #359a61;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  color: black;
  overflow-y: auto; /* Enables vertical scrolling */
}

.sidebar-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  margin-block: 10px;
  min-width: 12vw;
  max-width: 15vw;
  background-color: #65d194;
  border-style: ridge;
  border-color: black;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

.sidebar-link:visited {
  text-decoration: none;
  border-color: black;
}

.sidebar-link:focus {
  text-decoration: none;
  border-color: white;
}

.sidebar-link:hover {
  background-color: #1e1e2f;
  color: white;
  border-color: white;
}

.active .active-indicator {
  width: 6px;
  height: 20px;
  background-color: #ff4757;
  position: absolute;
  left: 0;
}

.active {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  .sidebar {
    max-width: 50vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-family: "open sans";
    background-color: #359a61;
    color: black;
    overflow-y: auto; /* Ensures scrolling in smaller viewports */
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    margin-block: 10px;
    min-width: 12vw;
    max-width: 20vw;
    background-color: #65d194;
    border-style: ridge;
    border-color: black;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    transition: 0.3s;
  }

  .sidebar-link:hover {
    background-color: #1e1e2f;
    color: white;
    border-color: white;
  }

  .sidebar-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
}
