/* navbar.css */
.custom-navbar {
  background-color: #003037;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.custom-navbar-brand {
  font-family: "open sans";
  font-size: 22px;
  font-weight: bold;
  color: white;
}
/* Logout Button Styling */
.logout-button {
  display: flex;
  align-items: center;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

/* Logout Button Hover Effect */
.logout-button:hover {
  background-color: #c9302c;
}

/* Logout Icon Styling */
.logout-icon {
  margin-right: 8px;
}
